<!DOCTYPE html>
{% extends 'marketapp/base.html'%}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <title>Cart Page</title>
</head>
<body>
    <h5>Welcome to add to cart page</h5>
    <div class="row">
        <div class="row-container">
            <a href="{% url 'market'%}"> Continue Shopping</a>
            <br>
            <table class="table">
                <tr>
                  <th><h3>Item: <strong>{{order.get_cart_lists}}</strong></h3></th>
                  <th><h3>Item: <strong>{{order.get_cart_total}}</strong></h3></th>
                 
                </tr>
                <th>
                     <a href="{% url 'checkout' %}">checkout</a>
                </th>
            </table>

        </div>
        <br>
        <div class="row-container">
            <div>Items</div>
            <div>Price</div>
            <div>Quantity</div>
            <div><strong>Total</strong></div>

        </div> 
        
        {% for list in lists %}

            <div style="flex:1">
                 <div style="flex: 1">{{list.product.name}}</div>
                 <div style="flex: 1">{{list.product.price}}</div>
                <p class="quantity">{{list.quantity}}</p>
                <div class="quantity">
                    <img src="{% static 'images/item' %}" alt="">

                     <img src="{% static 'images/item' %}" alt="">
                </div>

                <div style="flex: 1">{{lists.get_total}}</div>

            </div>
            {% endfor %}

        </div>

    </div>
{% endblock content%}
</body>
</html>